<div class="admin">
	<div class="logo"></div>
	<img src="/assets/botoes/home.png" 
		class="home"
		(click)="sair()">
	<div class="perguntas-container">
	  <mat-table 
	    [dataSource]="dataSource">
	    <ng-container 
	      matColumnDef="pergunta">
	      <mat-header-cell 
	        *matHeaderCellDef>
	        Perguntas
	      </mat-header-cell>
	      <mat-cell 
	        *matCellDef="let pergunta">
	      	{{ pergunta.questao }}
	      </mat-cell>
	    </ng-container>
	    <ng-container 
	      matColumnDef="opcoes">
	      <mat-header-cell 
	        *matHeaderCellDef>
	        Opções
	      </mat-header-cell>
	      <mat-cell 
	        *matCellDef="let pergunta">
	      	{{ pergunta.opcoes }}
	      </mat-cell>
	    </ng-container>
	    <ng-container 
	      matColumnDef="correta">
	      <mat-header-cell 
	        *matHeaderCellDef>
	        Correta
	      </mat-header-cell>
	      <mat-cell 
	        *matCellDef="let pergunta">
	      	{{ pergunta.opcoes[pergunta.correta] }}
	      </mat-cell>
	    </ng-container>
	    <ng-container 
	      matColumnDef="acao">
	      <mat-header-cell 
	        *matHeaderCellDef>
	        &nbsp;
	      </mat-header-cell>
	      <mat-cell 
	        *matCellDef="let pergunta">
	      	<a href="" 
	      	  (click)="atualizar($event, pergunta)" 
	      	  matTooltip="Editar"><mat-icon>create</mat-icon></a>
			<a href="" 
			  (click)="remover($event, pergunta.id)" 
	      	  matTooltip="Excluir"><mat-icon>delete</mat-icon></a>
	      </mat-cell>
	    </ng-container>
	    <mat-header-row *matHeaderRowDef="colunas"></mat-header-row>
	    <mat-row *matRowDef="let row; columns: colunas;"></mat-row>
	  </mat-table>
	  <mat-paginator 
	    #paginator
        [pageSize]="5"
        [pageSizeOptions]="[5, 10, 25, 100]"
        [showFirstLastButtons]="true">
  	  </mat-paginator>
	</div>
	<div>
		<button 
		  mat-button 
		  color="primary"
		  (click)="cadastrar()">
		  Nova pergunta
		</button>
		<button 
		  mat-button 
		  color="warn"
		  (click)="confirmarRestauracaoDados()">
		  Restaurar perguntas
		</button>
		<button 
		  mat-button 
		  color="warn"
		  (click)="inicializarJogos()">
		  Inicializar jogos
		</button>
	</div>
</div>
