.quiz {
	background-image: url("/assets/backgrounds/quiz-background.png");
	background-repeat: no-repeat;
	background-color: #FFC;
	width: 400px;
	height: 400px;
	text-align: center;
	position: relative;
}

.logo {
	width: 400px;
	height: 135px;
	background-image: url("/assets/backgrounds/logo.png");
	background-repeat: no-repeat;
}

.pergunta {
	background-image: url("/assets/backgrounds/pergunta-background.png");
	background-repeat: no-repeat;
	color: #FFF;
	width: 400px;
	height: 43px;
	text-align: center;
	font-size: 20px;
	padding-top: 9px;
}

.btnConfirmar {
	background-image: url("/assets/botoes/ativo.png");
	background-repeat: no-repeat;
	background-color: Transparent;
    cursor: pointer;
    border: none;
    width: 200px;
    height: 54px;
    color: #FFF;
    font-size: 20px;
}

.btnConfirmar:hover {
	background-image: url("/assets/botoes/hover.png");
}

.btnConfirmar:active {
	background-image: url("/assets/botoes/ativo.png");
}

.btnConfirmar:focus {
  outline: none;
}

.btnInativo {
	background-image: url("/assets/botoes/lock.png");
	background-repeat: no-repeat;
	background-color: Transparent;
    border: none;
    width: 200px;
    height: 54px;
    color: #FFF;
    font-size: 20px;
}

.btnOpcao {
	background-image: url("/assets/botoes/normal-150.png");
	background-repeat: no-repeat;
	background-color: Transparent;
    cursor: pointer;
    border: none;
    width: 150px;
    height: 41px;
    color: #FFF;
    font-size: 18px;
    float: left;
    padding-top: 10px;
    padding-bottom: 5px;
    margin-left: 30px;
}

.btnOpcao:hover {
	background-image: url("/assets/botoes/hover-150.png");
}

.btnOpcaoAtivo {
	background-image: url("/assets/botoes/ativo-150.png");
	background-repeat: no-repeat;
	background-color: Transparent;
    cursor: pointer;
    border: none;
    width: 150px;
    height: 41px;
    color: #FFF;
    font-size: 18px;
    float: left;
    padding-top: 10px;
    padding-bottom: 5px;
    margin-left: 30px;
}

.popup {
	position: absolute;
	width: 390px;
	height: 250px;
	top: 145px;
	margin-left: 5px;
	display: block;
	background-image: url("/assets/backgrounds/popup.png");
	background-repeat: no-repeat;
}

.popup p {
	font-size: 21px;
	margin-top: 80px;
	color: #910F14;
}

p {
	color: #910F14;
	font-size: 18px;
}

.btnPopup {
	background-image: url("/assets/botoes/ativo-150.png");
	background-repeat: no-repeat;
	background-color: Transparent;
    cursor: pointer;
    border: none;
    width: 150px;
    height: 41px;
    color: #FFF;
    font-size: 18px;
    float: left;
    padding-top: 10px;
    margin-left: 125px;
    margin-top: 30px;
}

.btnPopup:hover {
	background-image: url("/assets/botoes/hover-150.png");
}

.game {
	width: 400px;
	height: 200px;
	background-image: url("/assets/backgrounds/quiz-background.png");
	background-repeat: no-repeat;
	background-color: #FFC;
}

.novo-jogo {
	position: absolute;
	top: 90px;
	left: 25px;
	cursor: pointer;
}

.home {
	position: absolute;
	top: 90px;
	left: 330px;
	cursor: pointer;
}
